body{
    font-family: arial, calibri;
    background-color: lightblue;
    text-align: center;


}

h1{
    color: darkblue;
    text-align: center;
}

form{
    text-align: center;
}

p{
  color: darkslategray;

}

h4{
  color: darkslateblue;

}
